extends layout
block content

  #intro
      .wrap
        span.title Help us raise money to protect trees in Northside Williamsburg
        a(href="#", class="donate button") Donate
    #header.block
      .wrap
        h1 We are putting well-designed metal guards around tree beds, and adding fresh mulch on top of the soil. Help us and get involved!
        #photogallery photo gallery

    #middle.block
      .wrap
        h2 Why put in tree guards?
        h3 Healthy street trees
        ul.bullets
          li Help sell properties faster and for more by 1-10%
          li Improve retail sales by 12%
          li Reduce noise by up to 50%
          li Reduce graffiti and vandalism 10% (versus 90%)
          li Reduce crime by 52%
          li Reduce heating and cooling costs by 10%
    #curballure.block
      .wrap
        h2 Who is Curb Allure
        h3 <a href="#">Curb Allure</a> designs and distributes tree guards and landscape fencing
        ul.bullets
          li Approved by the NYC Parks Department and Trees of New York
          li High quality modular "kit of parts"
          li Easy to fix if needed
          li Reasonably priced

    #footer.block
      .wrap
        h3 Founding sponsors
        p.intro-statement These local companies sponsored the first round of tree guards. Without them, this project would not be possible.
        ul.sponsors
          li
            a(href="#") Sponsor 1
          li
            a(href="#") Sponsor 2
          li
            a(href="#") Sponsor 3
          li
            a(href="#") Sponsor 4
          li
            a(href="#") Sponsor 5
          li
            a(href="#") Sponsor 6
