extends layout
block content

  #intro
      .wrap
        span.title Help us raise money to protect trees in Northside Williamsburg
        a(href="#", class="donate button") Donate
    #header.block
      .wrap
        h1 We are putting well-designed metal guards around tree beds, and adding fresh mulch on top of the soil. Help us and get involved!
        #photogallery photo gallery

    #middle.block
      .wrap
        h2 Why put in tree guards?
        p.intro-statement Tree guards make our streets more beautiful by protecting trees, one of our most valuable assets.

        div.left
          h3 Healthy street trees
          ul.bullets
            li Help <strong>sell properties faster and for more</strong> by 1-10%
            li <strong>Improve retail sales</strong> by 12%
            li <strong>Reduce noise</strong> by up to 50%
            li <strong>Reduce graffiti and vandalism</strong> 10% (versus 90%)
            li <strong>Reduce crime</strong> by 52%
            li <strong>Reduce heating and cooling costs</strong> by 10%

        div.right
          h3 Protect trees from:
          ul.bullets
            li Dog waste
            li Litter
            li Garbage leakage
            li Bike locks
            li Car doors
            li Cars and trucks parking

    #curballure.block
      .wrap
        h2 Who is Curb Allure?

        a.curballurelogo(href="http://curballure.com/")
          img(src="/img/curballure.png")

        h3 <a href="http://curballure.com/">Curb Allure</a> designs and distributes tree guards and landscape fencing.

        p.intro-statement Curb Allure "believes city street trees should never be taken for granted.  We need to protect our street trees and gardens in New York City and beyond, not just for us, but also for all generations that follow."
        ul.bullets
          li Approved by the <a href="http://www.nycgovparks.org/trees">NYC Parks Department and Trees</a>
          li High quality modular "kit of parts"
          li Easy to fix if needed
          li Reasonably priced

    #footer.block
      .wrap
        h3 Founding sponsors
        p.intro-statement These local companies sponsored the first round of tree guards. Without them, this project would not be possible.
        ul.sponsors
          li
            a(href="#") Sponsor 1
          li
            a(href="#") Sponsor 2
          li
            a(href="#") Sponsor 3
          li
            a(href="#") Sponsor 4
          li
            a(href="#") Sponsor 5
          li
            a(href="#") Sponsor 6
