!!! 5
html(lang="en")
head
    meta(content="text/html")
    title Northside Trees
    link(rel="stylesheet", href="/css/style.css")
body
  #intro
    .wrap
      span.title Help us raise money to protect the trees in Northside Williamsburg
      a(href="#", class="donate button") Donate
  #header.block
    .wrap
      h1 We are installing well-designed metal guards around tree beds, and adding fresh mulch on top of the soil.
      #video video or photo gallery

      #donation
        .status
          .bar
        p $0 raised of $10,000 needed

  #middle.block
    .wrap
      h2 Information about how the guards protect trees, and mulch helps keep them healthy.

  #footer.block
    .wrap
      h3 Information about us and how to get involved.
