* {
  margin: 0;
  padding: 0;
}

html, body{
  width: 100%;
  height:100%;
  display: block;
}

body{
  font-family: 'helvetica', sans-serif;
}

a{
  color:#244018;
}

h1, h2, h3, h4{
  margin-bottom:15px;
}

.left{
  float:left;
  width:65%;
}

.right{
  float:right;
  width:35%;
}

.wrap{
  width:710px;
  margin:0 auto;
  padding:25px 0;
}

.block{
  border-bottom:1px solid #ddd;
  border-top:1px solid #fff;
  min-height:350px;
  overflow:hidden;
  background:-webkit-linear-gradient(#fff, #f7f7f7);
}

.block:last-child{
  border:none;
}

.intro-statement{
  margin-bottom:15px;
  color:#999;
  line-height:22px;
}

.button{
  background:-webkit-linear-gradient(#fff, #ddd);
  border-radius:4px;
  padding:5px 10px;
  display:inline-block;
  text-decoration: none;
  color:#222;
  border:1px solid #ddd;
  font-weight:bold;
  box-shadow:0 1px 1px rgba(0,0,0,0.25);
  display:inline-block;
}

/*INTRO*/

#intro{
  border-bottom:1px solid #1f3915;
  font-size:18px;
  position:fixed;
  top:0;
  color:#fff;
  width:100%;
  background:-webkit-linear-gradient(#294a1b, #244018);
  font-size:18px;
  box-shadow:0 1px 3px rgba(0,0,0,0.5);

}

#intro .wrap{
  padding:10px 10px 15px;
}

#intro .title{
  display: inline-block;
  padding-top:7px;
}

#intro .button{
  margin-left:20px;
  margin-right:10px;
}

/*HEADER*/

#header.block{
  margin-top:60px;
}

#header h1{
  font-size:22px;
  margin-bottom:25px;
  line-height:30px;
}

#header #photogallery{
  width:100%;
  height:250px;
  background:#ddd;
  margin:15px auto 25px;
  border:2px solid #fff;
  box-shadow:0 1px 3px rgba(0,0,0,0.05);
  text-align:center;
  line-height:250px;
  color:#999;

}

.curballurelogo{
  float:right;
  margin-left:40px;
  margin-bottom:20px;
}

.curballurelogo img{
  width:260px;
}

.bullets li{
  margin-left:18px;
  line-height:25px;
}

.sponsors{
  position:relative;
  left:-10px;
  margin-bottom:15px;
  overflow:hidden;
}

.sponsors li{
  float:left;
  list-style-type:none;
  margin:10px;
}

.sponsors li a{
  text-decoration:none;
  color:#999;
  display:block;
  background:#ddd;
  text-align:center;
  line-height:100px;
  height:100px;
  width:216px;
}

.sponsors li a:hover{
  background:#999;
  color:#fff;
}
